<%- include("header") -%>

<div class="box" id="heading">
  <!-- Variable received from server is marked by < % = var % > -->
  <h1><%= listTitle %></h1>
</div>

<div class="box">
  <!-- Scriptlet tags (JS) are marked by < % scriptlet % > -->
  <!-- Scriptlet only lets you use control flow JS (logic is in server) -->

  <% newListItems.forEach(function(newListItem) { %>
  <form action="/delete" method="post">
    <div class="item">
      <!-- Find out which item belongs to checked checkbox (to delete) -->
      <input type="checkbox" name="checkbox" value="<%=newListItem._id%>" onChange="this.form.submit()">
      <p><%= newListItem.name %></p>
    </div>
    <input type="hidden" name="listName" value="<%= listTitle %>">
  </form>
  <% }); %>

  <form class="item" action="/" method="post">
    <input type="text" name="todoInput" placeholder="New Item" autocomplete="off">
    <!-- Dynamically changing button value -->
    <!-- This is used to determine which page button is pressed on -->
    <button type="submit" name="list" value=<%= listTitle %>>+</button>
  </form>
</div>

<%- include("footer") -%>
